# Documentation build dependencies.
#
# Used by .github/workflows/docs.yml and by Read the Docs (readthedocs.yaml).
# The runtime packages are here because mkdocstrings imports lib/, blocks/ and
# modern_ui/ to generate the API reference pages.

mkdocs>=1.6
mkdocs-material>=9.5
mkdocstrings[python]>=0.25

numpy
scipy
matplotlib
tqdm
pyqtgraph
pyqt5
Pillow
